h2 {
    color: white;
}
h3, label {
    color: rgb(255, 255, 255);
}
.producer-btn {
    width: 100%;
    background: none;
}
.delete-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}