.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown select {
  background-color: #1e1e1e;
  color: #fff;
  padding: .3em;
  padding-right: .5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}
.option button {
    background: none;
    border: none;
}
.front-options .option .active {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.option h2 {
    cursor: pointer;
    color: #b6b6b6;
}

.option h2:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}
.front-options {
    margin-block: 20px;
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid #b6b6b6;
}
.front-options .option {
    text-align: center;
}
select {
    background: none;
}
.option {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% / 1 / 3);
}
.filter-options {
    gap: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.filter-options > * {
    margin-block: 10px;
}
.genre-filter {
    position: relative;
}
.movies-disp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}
.title-container h2 {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #ffff;
}
.header {
    margin-bottom: 20px;
    color: #ffff;
    background: var(--bg-box);
    border-radius: 10px;
}
.header > *{
    padding-block: 20px;
    margin-left: 15px;
}
.movie-container {
    position: relative;
}
.movie-container img {
    height: 35vh;
    aspect-ratio: 2 / 3;
    border-radius: 20px;
    cursor: pointer;
    object-fit: cover;
}
.movie-container img:hover {
    border: 2px solid white;
}
.movie-rating {
    display: flex;
    gap: 10px;
}
.movie-details p, .movie-details h2 {
    margin: 0;
    color: #ffff;
}
.rating-statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filled-star {
    color: #ffd500;
}

.empty-star {
    color: #0e3960;
}

