/* Genre segment */
.dropdown {
    position: relative;
    display: inline-block;
}

.genre-trigger {
    cursor: pointer;
}

.genre-list {
    display: none;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(0,0,0,0.2);
    z-index: 1;
}
.option .genre-list h2:hover {
    text-decoration: none;
}
.genre-list button:hover {
    background: rgba(0,0,0,0.5);
}
.genre-list button {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}
.opt-button button {
    border: none;
    background: none;
}
/* Show the dropdown when the trigger is hovered or focused */
.dropdown:hover .genre-list {
    display: block;
}

.dropdown:focus-within .genre-list {
    display: block;
}
/* New segment */

.front-options .option .active {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.option h2 {
    cursor: pointer;
    color: #b6b6b6;
}
.option h2:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}
.front-options {
    margin-block: 20px;
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid #b6b6b6;
}
.front-options .option {
    text-align: center;
}
.option {
    position: relative;
    flex: 100%;
}
.filter-options {
    gap: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.filter-options > * {
    margin-block: 10px;
}
.genre-filter {
    position: relative;
}
.movies-disp {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(35vh / 1.5));
    gap: 32px;
}
.title-container h2 {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #ffff;
}
.header {
    margin-bottom: 20px;
    color: #ffff;
    background: var(--bg-box);
    border-radius: 10px;
}
.header > *{
    padding-block: 20px;
    margin-left: 15px;
}
.movie-container {
    position: relative;
}
.movie-container img {
    height: 35vh;
    aspect-ratio: 2 / 3;
    border-radius: 20px;
    cursor: pointer;
    object-fit: cover;
}
.movie-container img:hover {
    border: 2px solid white;
}
.movie-rating {
    display: flex;
    gap: 10px;
}
.movie-details p, .movie-details h2 {
    margin: 0;
    color: #ffff;
}
.rating-statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filled-star {
    color: #ffd500;
}

.empty-star {
    color: #0e3960;
}

