.movie-detail {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
}
.title-container {
    margin-bottom: 20px;
}
.admin-options {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.admin-options button {
    background: transparent;
    transition: all 0.25s ease;
}
.admin-options a:hover {
    color: #fff;
    text-decoration: none;
}
.image-container img {
    border-radius: 20px;
    height: 25rem;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}
.movie-image {
    width: 100%;
    object-fit: cover;
    filter: brightness(20%);
    height: 100%;
}
.wrapper {
    max-width: 100%;
}
.background-container {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.movie-plot {
    width: 500px;
}
/* Stars scoreboard */
.stars-container {
    display: flex;
    gap: 10px;
}
.filled-star {
    color: #ffd500;
}
.empty-star {
    color: #0e3960;
}
.star-scoreboard {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
}
.stars {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.scoreboard {
    padding: 10px;
    border-radius: 13px;
    display: flex;
    gap: 10px;
}
.star, .bar {
    display: flex;
    align-items: center;
    gap: 5px;
}
.bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.meeter {
    width: 160px;
    height: 8px;
    border-radius: 8px;
    background: #0e3960;
}
.fill-level {
    height: inherit;
    background: #ffd500;
    border-radius: inherit;
}
.star p, .bar p {
    margin: 0;
    display: flex;
}
.stars-average {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: transparent;
    padding: 10px;
    border-radius: 13px;
    aspect-ratio: 1 / 1;
}

/* End start scoreboard */
