html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.search-container {
    position: absolute;
    margin-left: 180px;
    z-index: 999;
}
.search-container a {
    text-decoration: none;
    color: inherit;
}
.search-container a:hover {
    text-decoration: underline;
}