html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

:root {
    --bg-box: #071330;
    --bg-primary: #fff;
    --bg-secondary: #0D255D;
    --bg-buttonhover: #457acf;
    --footer-height: 300px;
}
a {
    text-decoration: none;
    color: white;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
main {
    min-height: calc(100vh - var(--footer-height));
    margin-bottom: 50px;
}
footer {
    height: var(--footer-height);
}
body {
    margin-bottom: 60px;
    background: var(--bg-primary);
}
nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.search-container {
    position: absolute;
    margin-left: 180px;
    z-index: 999;
}
.search-container a {
    text-decoration: none;
    color: inherit;
}
.search-container a:hover {
    text-decoration: underline;
}