@model Movie

@{
    ViewData["Title"] = $"Delete {Model.Title}";
    ViewData["Description"] = $"Delete {Model.Title}";
    ViewData["Keywords"] = $"Movies, movie rating, movie bank, movie gallery, {Model.Title}, delete, remove";
    ViewData["MovieTitle"] = Model.Title;
    ViewData["MovieUrl"] = $"{GlobalVariables.PageUrl}/Movies/Details/{Model.MovieID}";
}
<div class="delete-container mt-4">
    <h3 class="text-white m-2">Are you sure you want to delete this movie?</h3>
    <div>
        <h4 class="text-white-50 m-2">@Model.Title</h4>
        <img src="~/images/@Model.MovieImage" style="height:400px; margin-bottom: 30px;" class="m-2 rounded" alt="@Model.Title" />
        <div>
            <form asp-action="ConfirmDelete" asp-route-id="@Model.MovieID" method="post">
                @Html.AntiForgeryToken()
                <div>
                    <a asp-action="Index" class="btn btn-primary m-2">Back to List</a>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>
