@model MoviesViewModel
@{
    ViewData["Title"] = "Movies";
    ViewData["Description"] = "Discover the best movies on Movie Gallery!";
    ViewData["Keywords"] = "Movies, movie rating, movie bank, movie gallery";
    ViewData["MovieTitle"] = Model.HeroMovie.Title;
    ViewData["MovieUrl"] = $"{GlobalVariables.PageUrl}/Movies/Details/{Model.HeroMovie.MovieID}";
}
<link rel="stylesheet" href="~/css/movies.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/hero.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/moviecard.css" asp-append-version="true" />
<div class="page-wrapper" style="margin-top: 69vh">
    <partial name="_Hero" />
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }
    <div id="dynamicContent">
        @await Html.PartialAsync("_DynamicContent", Model)
    </div>
</div>
@section scripts {
    <script src="~/js/filterMovies.js"></script>
}

