@model MoviesViewModel
@{
    ViewData["Title"] = "Movies";
    ViewData["Description"] = "Discover the best movies on Movie Gallery!";
    ViewData["Keywords"] = "Movies, movie rating, movie bank, movie gallery";
    ViewData["MovieTitle"] = Model.HeroMovie.Title;
    ViewData["MovieUrl"] = $"{GlobalVariables.PageUrl}/Movies/Details/{Model.HeroMovie.MovieID}";
}
<link rel="stylesheet" href="~/css/movies.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/hero.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/moviecard.css" asp-append-version="true" />
<div class="page-wrapper" id="pageWrapper">
    <partial name="_Hero" />
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }
    <div id="dynamicContent">
        @await Html.PartialAsync("_DynamicContent", Model)
    </div>
</div>
@section scripts {
    <script src="~/js/filterMovies.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var heroWrapper = document.getElementById('heroWrapper');
            var pageWrapper = document.getElementById('pageWrapper');

            var marginAdjusted = -100;

            pageWrapper.style.marginTop = heroWrapper.clientHeight + marginAdjusted + 'px';

            window.addEventListener('resize', function () {
                pageWrapper.style.marginTop = heroWrapper.clientHeight + marginAdjusted + 'px';
            });
        });
    </script>
}

