@model MoviesViewModel
<link rel="stylesheet" href="~/css/movies.css" asp-append-version="true" />
<partial name="_MovieFilterTab" />
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}
<div class="header">
    <h2>@Model.FilterOption movies</h2>
</div>
<div class="movies-disp">
    @if (Model.Movies.Count != 0)
    {
        @foreach (var movie in Model.Movies)
        {
            <partial name="_MovieContainer" model="movie"/>
        }
    }
    else
    {
        <h3>No movies available</h3>
    }

</div>
<script src="~/js/filterGenre.js"></script>
<script src="~/js/applyGenreFilter.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/goToMovieDetails.js"></script>
