@model MoviesViewModel
@{
    ViewData["Title"] = "Movies";
}
<link rel="stylesheet" href="~/css/movies.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/hero.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/moviecard.css" asp-append-version="true" />
<div class="page-wrapper" style="margin-top: 69vh">
    <partial name="_Hero" />
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }
    <div id="dynamicContent">
        @await Html.PartialAsync("_DynamicContent", Model)
    </div>
</div>
@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var scrolled = false;

            // Scroll down to 80vh smoothly when the user starts scrolling
            window.addEventListener("scroll", function () {
                if (window.scrollY === 0) {
                    // User is at the top again, reset scrolled to false
                    scrolled = false;
                } else if (!scrolled) {
                    // Scroll down to 80vh smoothly when the user starts scrolling
                    window.scrollTo({
                        top: window.innerHeight * 0.69,
                        behavior: "smooth"
                    });
                    scrolled = true;
                }
            });
        });
    </script>
    <script src="~/js/filterMovies.js"></script>
}

