@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model MovieGallery.Models.UserModel
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<h1 style="color: white;">@ViewBag.Error</h1>
<section class="login-form-holder">
    <div class="background"></div>
    <div class="wrapper">
        <form asp-action="Login">
            <h1>Login</h1>
            <div class="input-box">
                <input asp-for="UserName" type="text" placeholder="Username"  />
                <i class="bx bxs-user"></i>
            </div>

            <div class="input-box">
                <input asp-for="Password" type="password" placeholder="Password" required />
                <i class="bx bxs-lock-alt"></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox" /> Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>

            <input type="submit" value="Submit" class="btn" />
            <!--<button type="submit" class="btn">Login</button>-->

            <div class="register-link">
                <p>Don't have an account? <a href="#">Register</a></p>
            </div>
        </form>
    </div>
</section>
